#header-toolbar {
  background-color: #cf0b3c;
}

#navbar-toggle-container {
  flex: 1;
  align-self: center;
  justify-self: flex-start;
}

#title{
  flex: 23;
  font-size: 4.2rem;
  color: white;
  align-self: center;
  justify-self: stretch;
  text-align: center;
  font-family: Righteous;
}
