#header-toolbar {
  background-color: #cf0b3c;
}

#menu-icon{
  align-content: center;
  justify-content: center;
}

#title{
  position: relative;
  flex: 1;
  font-family: Diantha;
  font-size: 4.2rem;
  color: transparent;
  align-content: center;
  text-align: center;
  -webkit-text-stroke-width: 0.1rem;
  -webkit-text-stroke-color: white;
}
