.footer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
  background-color: #444444;
  transition: background-color 500ms linear;
  animation: 1s ease-in-out 0ms 1 fadein;
  font-size: 3.2rem;

}

.footer-icon {
  flex: 1;
  align-content: center;
  justify-content: center;
  height: 2.4rem;
  width: 2.4rem;
}

#footer-message {
  text-align: center;
  font-family: Diantha;
  color: white;
  flex: 25;
}

@media (max-width: 65rem) {
  #github-logo {
    display: none;
  }
}
