<div class="footer flex-container-row">
  <div id="footer-message">{{ "FOOTER 1" | translate }}<img id="coffee-logo" class="footer-icon flip" src="https://res.cloudinary.com/dnku44rpm/image/upload/v1602024039/coffee-removebg-removebg-preview.png">{{ "FOOTER 2" | translate }}</div>
  <div id="social-media-container">
    <a href="https://github.com/BrunoCaetanoDev"><img id="github-logo" class="footer-icon round-icon" src="https://res.cloudinary.com/dnku44rpm/image/upload/w_24,h_24/v1544614965/github-logo.png"></a>
    <a href="https://www.linkedin.com/in/bruno-caetano-69a012118/"><img id="linkedin-logo" class="footer-icon" src="https://res.cloudinary.com/dnku44rpm/image/upload/w_24,h_24/v1544614964/linkedin-logo.png"></a>
  </div>
</div>
