<div class="flex-container-column flex-inner-items">
  <mat-vertical-stepper id="email-sender-stepper" class="flex-item-column" linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>{{'STEPPER CONTACT NAME' | translate }}</ng-template>
        <mat-form-field>
          <input matInput placeholder="{{'STEPPER CONTACT NAME' | translate}}" formControlName="firstCtrl" required>
        </mat-form-field>
        <div class="flex-container-row">
          <button mat-button matStepperNext class="stepper-btn">{{'NEXT' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>{{'STEPPER COMPANY NAME' | translate }}</ng-template>
        <mat-form-field>
          <input matInput placeholder="{{'STEPPER COMPANY NAME' | translate}}" formControlName="secondCtrl" required>
        </mat-form-field>
        <div class="flex-container-row">
          <button mat-button matStepperPrevious class="stepper-btn">{{'BACK' | translate }}</button>
          <button mat-button matStepperNext class="stepper-btn">{{'NEXT' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>{{'STEPPER EMAIL SUBJECT' | translate }}</ng-template>
        <mat-form-field>
          <input matInput placeholder="{{'STEPPER EMAIL SUBJECT' | translate}}" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div class="flex-container-row">
          <button mat-button matStepperPrevious class="stepper-btn">{{'BACK' | translate }}</button>
          <button mat-button matStepperNext class="stepper-btn">{{'NEXT' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup">
      <form [formGroup]="fourthFormGroup">
        <ng-template matStepLabel>{{'STEPPER EMAIL BODY' | translate }}</ng-template>
        <mat-form-field>
          <textarea matInput placeholder="{{'STEPPER EMAIL BODY' | translate}}" formControlName="fourthCtrl" required></textarea>
        </mat-form-field>
        <div class="flex-container-row">
          <button mat-button matStepperPrevious class="stepper-btn">{{'BACK' | translate }}</button>
          <button mat-button matStepperNext class="stepper-btn">{{'NEXT' | translate }}</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{'STEPPER EMAIL SEND' | translate }}</ng-template>
      <div class="flex-container-row s-margin-top">
        <button mat-button matStepperPrevious class="stepper-btn">{{'BACK' | translate }}</button>
        <button mat-button id="submit-btn" class="stepper-btn" (click)="sendEmail()" [disabled]="disableBtn">{{'SEND' | translate }}</button>
        <button mat-button (click)="stepper.reset()" class="stepper-btn">Reset</button>
      </div>
      <div class="flex-container-row m-margin-top flex-container-center">
      <mat-progress-spinner id="progressSpinner" mode="indeterminate" *ngIf="showProgressSpinner"></mat-progress-spinner>
      </div>
      <div class="flex-container-row m-margin-top flex-container-center" *ngIf="showMessage && success">{{ 'EMAIL SUCCESS' | translate }}</div>
      <div class="flex-container-row m-margin-top flex-container-center" *ngIf="showMessage && !success">{{ 'EMAIL FAILURE' | translate}}</div>
    </mat-step>
  </mat-vertical-stepper>
</div>
