.flex-inner-items {
  justify-content: stretch;
  align-items: center;
}

::ng-deep .mat-step-header .mat-step-icon-selected  {
  background-color: #cf0b3c;
}

::ng-deep .mat-step-header .mat-step-icon-state-edit  {
  background-color: #cf0b3c;
}

#email-sender-stepper {
  margin: 2.4rem 1.2rem;
  background-color: transparent;
}

#submit-btn {
  background-color: #cf0b3c;
  color: white;
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}

.flex-container-row {
  display: flex;
  justify-content: space-between;
}

.m-margin-top {
  margin-top: 2.4rem;
}

.s-margin-top {
  margin-top: 1.6rem;
}
