<mat-sidenav-container>
  <mat-sidenav id="side-nav" mode="side" [(opened)]="isOpen">
    <mat-toolbar id="side-toolbar">
      <mat-toolbar-row></mat-toolbar-row>
      <mat-toolbar-row *ngFor="let option of options">
        <a routerLink="/{{option.path}}" routerLinkActive="sidebar-selected-option"><span>{{option.name | titlecase}}</span>
          <mat-icon class="material-icons" id="option-icon">{{option.icon}}</mat-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <main id="wrapper" [@fadeAnimation]="getRouterOutletState(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
