mat-sidenav-container{
  height: 100%;
  width: 100%;

}
mat-sidenav-content{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

mat-toolbar-row{
  display: flex;
}

#sidenav{
  width: 20rem;
  background-color: #cf0b3c;
}
#sidenav-toolbar{
  background-color: transparent;
  color: #91082a;
}
.sidenav-toolbar-selected-option {
  color: white;
}

.sidenav-toolbar-option {
  display: flex;
  justify-content: center;
}

#option-icon{
  font-size: 2.4rem;
  vertical-align: middle !important;
}

app-header {

}

app-footer {

}

main {
  flex: 1;
  overflow-y: scroll;
}

#route-option {
  padding: 1rem;
  vertical-align: middle !important;
  font-size: 2.4rem;
}

