mat-sidenav-container{
  height: 100%;
  width: 100%;

}
mat-sidenav-content{
  display: flex;
  flex-direction: column;
}
mat-toolbar-row{
  display: flex;
}

#side-nav{
  width: 20rem;
  background-color: #cf0b3c;
}
#side-toolbar{
  background-color: transparent;
  color: #91082a;
}
.sidebar-selected-option {
  color: white;
}

.sidebar-option {
  display: flex;
  justify-content: center;
}

#option-icon{
  font-size: 2.4rem;
  vertical-align: middle !important;
  position: relative;
}
app-footer {
  align-self: stretch;
  justify-self: stretch;
}

#wrapper {
  flex: 10;
  align-self: stretch;
  justify-self: stretch;
}

#route-option {
  padding: 1rem;
  vertical-align: middle !important;
  font-size: 2.4rem;
}

