
<mat-sidenav-container>
  <mat-sidenav id="side-nav" mode="side" [(opened)]="isOpen">
    <mat-toolbar id="side-toolbar">
      <mat-toolbar-row>
        <a routerLink="/home" routerLinkActive="sidebar-selected-option"><span>Home</span> <mat-icon class="material-icons">home</mat-icon></a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a routerLink="/profile" routerLinkActive="sidebar-selected-option"><span>Profile</span> <mat-icon>person</mat-icon></a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a routerLink="/career" routerLinkActive="sidebar-selected-option"><span>Career</span> <mat-icon>card_travel</mat-icon></a>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <a routerLink="/training" routerLinkActive="sidebar-selected-option"><span>Training</span> <mat-icon>school</mat-icon></a>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
