<mat-sidenav-container>
  <mat-sidenav id="side-nav" mode="open" [(opened)]="isOpen">
    <mat-toolbar id="side-toolbar">
      <mat-toolbar-row class="sidebar-option" *ngFor="let option of options">
        <a routerLink="/{{option.path}}" routerLinkActive="sidebar-selected-option" (click)="toggleMenu()">
          <mat-icon class="material-icons" id="option-icon">{{option.icon}}</mat-icon>
          <span id="route-option">{{option.name | titlecase}}</span>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header></app-header>
    <main id="wrapper" [@fadeAnimation]="getRouterOutletState(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </main>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
