<div id="career-container" class="flex-container-column">
  <div class="timeline flex-item-column">
    <div *ngFor="let project of projects; let i = index" class="container" [class]="getClass(project.client)" [ngClass]="{'left': i%2===0, 'right': i%2!==0}" >
      <div class="content">
        <h2>{{project.startMonth | translate}} {{project.startYear}}</h2>
        <h3>{{project.client}} - {{project.department}}</h3>
        <p class="hidden">{{project.description}}
      </div>
    </div>
  </div>
</div>
