.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#profile-title-card {
  margin: 4.2rem 4.2rem 1.2rem;
  flex: 1;
}

#profile-info-card {
  margin: 1.2rem 4.2rem;
  align-self: stretch;
  justify-self: stretch;
  flex: 10;
}

