<div class="flex-container-column">
  <div id="profile-image-container" class="flex-item-column">
    <img id="profile-image" src="../../assets/images/{{profile.image}}">
  </div>
  <div class="flex-item-column info-container">
    <div id="personal-info" class="flex-container-row">
      <mat-card class="flex-item-row fixed-height">
        <h2>{{"PROFILE NAME TAG" | translate | titlecase}}</h2>
        <mat-divider [inset]="true"></mat-divider>
        <h3>{{profile.name}}</h3>
      </mat-card>
      <mat-card class="flex-item-row fixed-height">
        <h2 class="flex-item">{{"PROFILE SURNAME TAG" | translate | titlecase}}</h2>
        <mat-divider [inset]="true" class="flex-item"></mat-divider>
        <h3 class="flex-item">{{profile.surname}}</h3>
      </mat-card>
      <mat-card class="flex-item-row fixed-height">
        <h2 class="flex-item">{{"PROFILE BIRTHDAY TAG" | translate | titlecase}}</h2>
        <mat-divider [inset]="true" class="flex-item"></mat-divider>
        <h3 class="flex-item">{{"PROFILE BIRTHDAY VALUE" | translate | titlecase}}</h3>
      </mat-card>
      <mat-card class="flex-item-row fixed-height">
        <h2 class="flex-item">{{"PROFILE HOMETOWN TAG" | translate | titlecase}}</h2>
        <mat-divider [inset]="true" class="flex-item"></mat-divider>
        <h3 class="flex-item">{{profile.birthplace}}</h3>
      </mat-card>
      <mat-card class="flex-item-row fixed-height">
        <h2 class="flex-item">{{"PROFILE NATIONALITY TAG" | translate | titlecase}}</h2>
        <mat-divider [inset]="true" class="flex-item"></mat-divider>
        <h3 class="flex-item">{{"PROFILE NATIONALITY VALUE" | translate | titlecase}}</h3>
      </mat-card>
    </div>
  </div>
  <mat-card id="story-info" class="flex-item-column info-container">
    <mat-card-content >
     {{ "PROFILE EPILOGUE" | translate}}
    </mat-card-content>
  </mat-card>
</div>
