<div class="flex-container-column">
  <div id="profile-image">
    <img src="../../assets/images/{{profile.image}}">
  </div>
  <mat-card id="profile-info-card">
    <div id="personal-info">
      <div class="mat-card-title-holder">
        <mat-card-title>
          Name: {{profile.name}}</mat-card-title>
      </div>
      <mat-divider [vertical]="true" [inset]="true"></mat-divider>
      <div class="mat-card-title-holder">
        <mat-card-title>
          Surname: {{profile.surname}}
        </mat-card-title>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="mat-card-title-holder">
        <mat-card-title>
          Day of Birth: {{profile.birthday}}
        </mat-card-title>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="mat-card-title-holder">
        <mat-card-title>
          Birth Place: {{profile.birthplace}}
        </mat-card-title>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="mat-card-title-holder">
        <mat-card-title>
          Nationality : {{profile.nationality}}
        </mat-card-title>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      Here os a story all about how...
    </mat-card-content>
  </mat-card>
</div>
