.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

#profile-image {
  margin: 4.2rem 4.2rem;
  flex: 1;
  flex-shrink: 0;
  overflow: visible;
  align-self: center;
  justify-self: center;
}

#profile-info-card {
  margin: 1.2rem 4.2rem;
  align-self: stretch;
  justify-self: center;
  overflow-y: scroll;
  flex: 1.5;
  flex-shrink: 0;
}

#personal-info {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
}


.scrollable-content::-webkit-scrollbar * {
  background:transparent;
}


.mat-card-title-holder {
  display: flex;
  align-content: center;
  justify-content: center;
  flex: 1;
}

mat-card-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
}

