<div class="flex-container-column">
  <div id="profile-image">
    <img src="../../assets/images/{{profile.image}}">
  </div>
  <mat-card id="profile-info-card">
    <div id="personal-info">
      <div class="mat-card-title-holder">
        <mat-card-title>
          <h3>Name {{profile.name}}</h3>
        </mat-card-title>
      </div>
      <mat-divider [vertical]="true" [inset]="true"></mat-divider>
      <div class="mat-card-title-holder">
        <mat-card-title>
          <h3>Surname: {{profile.surname}}</h3>
        </mat-card-title>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="mat-card-title-holder">
        <mat-card-title>
          <h3>Day of Birth: {{profile.birthday}}</h3>
        </mat-card-title>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="mat-card-title-holder">
        <mat-card-title>
          <h3>Birth Place: {{profile.birthplace}}</h3>
        </mat-card-title>
      </div>
      <mat-divider [vertical]="true"></mat-divider>
      <div class="mat-card-title-holder">
        <mat-card-title>
          <h3>Nationality : {{profile.nationality}}</h3>
        </mat-card-title>
      </div>
    </div>
    <mat-divider></mat-divider>
    <mat-card-content>
      Here os a story all about how...
    </mat-card-content>
  </mat-card>
</div>
