<div class="flex-container-row chip-container">
  <mat-chip-list >
  <mat-chip #categoryChip selected="false" [ngClass]="{'colorChip' : categoryChip.selected}" *ngFor="let skillCategory of skillCategories"  (click)="toggleCategorySelection(skillCategory, categoryChip)">{{skillCategory | uppercase}}</mat-chip>
  </mat-chip-list>
</div>
<div class="flex-container-row">
  <div class="flex-item-row flex-container-column" *ngFor="let skill of skills">
  <mat-card ngClass="flex-container-column skill-card" (click)="toggleDescriptionRender(skill.name)" *ngIf="applyFilter(skill.category)">
    <mat-card-title>{{skill.name | titlecase }}</mat-card-title>
    <img id="skill-logo" src="{{skill.image}}" alt="technology logotype">
    <div class="flex-container-row">
      <h2 *ngFor="let star of arrayFilled(skill.score)">
        <i class="fa" [ngClass]="{'fa-star' : star==='full', 'fa-star-half-o': star==='half', 'fa-star-o': star==='empty'}"></i>
      </h2>
    </div>
    <p [ngClass]="{show: renderSkillDescription[skill.name], hide: !renderSkillDescription[skill.name]}">{{skill.description | translate}}</p>
  </mat-card>
  </div>
</div>
