.skill-card {
  margin: 2.4rem;
  max-width: 24rem;
}
.flex-container-row {
  display: flex;
  flex-wrap: wrap;
  overflow-wrap: break-word;
  align-content: space-evenly;
  justify-content: space-evenly;
}

#skill-logo {
  height: 12rem;
  width: 12rem;
}
.flex-container-column {
  align-items: center;
  display: flex;
}

.hidden { display:none; }

.skill-card:hover .hidden {
  display: block;
}
