@font-face {
  font-family: Diantha;
  src: url(assets/fonts/Diantha.otf) format("opentype");
  src: url(assets/fonts/Diantha.ttf) format("truetype");
}

@font-face {
  font-family: Junegull;
  src: url(assets/fonts/Junegull.ttf) format("truetype");
}


@font-face {
  font-family: BoringLesson;
  src: url(assets/fonts/BoringLesson.ttf) format("truetype");
}

@font-face {
  font-family: Righteous;
  src: url(assets/fonts/Righteous-Regular.ttf) format("truetype");
}
