h1 {
  font-family: BoringLesson;
  font-size: 4.8rem;
}



/* The hero image */
.home-content {
  /* Position and center the image to scale nicely on all screens */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../assets/images/home-background.jpg") no-repeat center;
  background-size: cover;
  min-height: 100%;
  height: auto !important;
}

/* Place text in the middle of the image */
.home-text {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: white;
}

#hire-button {
  color: #cf0b3c;
  border: 0.1rem solid #cf0b3c
}
